
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fafafa;
    color: #333;
    line-height: 1.6;
    
  }
  
header1 {
background-color: #fafafa;
color: #fff;
padding: 0px 0;
display: flex;
justify-content: center;
align-items: center;
      
}
header1 img {
    width: 200px;
    height: 10px;
    
    
}
  header {
    position: sticky;
    top: 0;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    z-index: 1000;
    
  }
  .categories-carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    
    
  }
  .categories-carousel::-webkit-scrollbar {
    display: non;
    
    
  }
  
  .category-btn {
    flex: 0 0 auto;
    padding: 10px 20px;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    white-space: nowrap;
    border-bottom: 5px solid transparent;
    transition: all 0.3s ease;
    user-select: none;
    
  }
  .category-btn:hover {
    color: #d35400;
  }
  .category-btn.active {
    color: #a72201;
    font-weight: 700;
    border-bottom-color: #a72201;
    
  
  }
  main {
    max-width: px;
    margin: 24px auto 60px;
    padding: 0 16px;
    
  }
  section.category-section {
    margin-bottom: 60px;
    
  }
  section.category-section h2 {
    font-size: 20px;
    margin-bottom: 16px;
    color: #a72201;
    border-left: 6px solid #0d0d0d;
    padding-left: 10px;
  }
  .item-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    gap: 20px;
  }
  .item-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(70, 70, 69, 0.3);
    padding: 10px;
    display: grid;
    grid-auto-rows: 1fr 20px 20px 20px;
    align-items: center;
    gap: 6px;
    flex-direction: row;
    transition: transform 0.3s ease;
    text-align: center;
    
    
    
  }
  .item-card:hover {
    transform: translateY(-6px);
  }
  .item-image {
    grid-row: 1;
    width: 140px;
    border-radius: 10px;
    object-fit: cover;
    height: 120px;
    margin-bottom: 5px;
    box-shadow: 0 2px 8px rgba(70, 70, 69, 0.3);
  }
  .item-name {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    font-weight: 700;
    font-size: 1.1rem;
    color: #a72201;
    
  }
   .item-price {
    grid-column: 1;
    text-align: left;
    margin-left: 10px;
    font-weight: 700;
    color: #e67e22;
    font-size: 17px;
  }
   .item-price1 {
    grid-column: 1;
    text-align: left;
    margin-left: 10px;
    font-weight: 700;
    color: #e67e22;
    font-size: 17px;
  }
   .item-price2 {
    grid-column: 1;
    text-align: left;
    margin-left: 10px;
    font-weight: 700;
    color: #e67e22;
    font-size: 17px;
  }

  .item-description {
    grid-column: 2;
    grid-row: 2;
    margin-top: 30px;
    text-align: center;
    font-size: 0.9rem;
    color: #000000;
    flex-grow: 1;
    
  }
 
  @media (max-width: 600px) {
    .item-list {
      grid-template-columns: 1fr;
    }
    .category-btn {
      padding: 10px 16px;
      font-size: 0.9rem;
      
    }
  }

